.modal-sheet .modal-dialog {
    width: 380px;
    transition: bottom 0.75s ease-in-out;
  }
  .modal-sheet .modal-footer {
    padding-bottom: 2rem;
  }
  
  /* Add your styles here */
  .slider-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
  }
  .labeltext {
    color: #21243d;
    font-size: 18px;
    font-weight: 600;
  }
  .sliderContainer{
    color: #21243d;
    display: flex;
    gap: 12px;
  }
  
  .slider {
    width: 100%;
    cursor: pointer;
  }
  